* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5efe6;
}
.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.auth-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
  /* position: fixed; */
  overflow: hidden !important;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden !important;
  flex-wrap: wrap !important;
}

.img img {
  width: 500px;
}

.auth-form {
  width: 360px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
  color: #38d39f;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

.authorization-redirect {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

.show-hind-text {
  width: 100%;
  color: rgb(146, 144, 144);
}

.authorization-redirect:hover {
  color: #38d39f;
}

.btn-auth {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .auth-container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

/* NotFound section Design Start */
.notfound {
  text-align: center;
}
.notfound img {
  height: 70vh;
}
.back-link {
  text-decoration: none;
  color: white;
  background-color: #32be8f;
  font-size: 1.5rem;
  margin: 0 auto;
  padding: 8px 20px;
  border-radius: 10px;
}
.back-link:hover {
  color: black;
}

/* Navbar section Design Start */
.navbar {
  /* height: 100px; */
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
.navbar-brand {
  font-size: 2rem;
}
.nav-item {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}
.dropdown-avater-img {
  cursor: pointer;
}
.profile-icon-menu {
  background-color: #38d39f;
}
.log-out-custom {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* .container {
    margin-top: 10px;
  } */
}

/* Home Section Design Start */

/* catagories section Design Start */
.catagori-icon-sec {
  width: 150px;
  height: 150px;
  color: #32be8f;
  border-radius: 50%;
  margin: 0 auto;
}
.catagori-icon-sec i {
  padding-top: 50px;
  padding-left: 35px;
}
.catagori-hover-effect a {
  text-decoration: none;
  color: #000;
}
/* .catagori-hover-effect:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
} */

/* About Section Design Start */
.about-desc h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.about-desc p {
  text-align: justify;
}

/* Count section Design start */
.count-section {
  background-color: #bed2be;
  border-radius: 10px;
  padding: 20px;
}
.count-title {
  color: #32be8f;
  font-weight: bold;
}

/* WWO Section Design Start */
.wwo-card-custom {
  background-color: #25316d;
  color: #eee;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.wwo-card-custom:hover {
  transform: scale(1.1);
  background-color: #32be8f !important;
  color: #000;
}
.wwo-card-custom p {
  text-align: justify;
  margin-top: 15px;
}
.wwo-custom-hr {
  width: 50px;
  border-top: none;
  border-bottom: 8px solid white !important;
  border-radius: 20px;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .wwo-card-custom {
    margin-top: 20px;
  }
}

/* User Profile Section Design Start */
.card-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user-profile-pic {
  margin: 0, auto;
}
.user-profile-pic img {
  width: 100px;
  height: 100px;
  border: 5px solid gray;
  border-radius: 50%;
}
.profile-image-upload-input {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: 46%;
  opacity: 0;
  cursor: pointer;
}
.form-label {
  font-weight: bold;
}

/* Teachers Level Section Design Start */
.techers-level-card {
  width: 80%;
  height: 15rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.level-card-body-custom {
  padding-top: 60px;
}
.level-card-shadow-custom:hover {
  box-shadow: rgba(12, 235, 231, 0.886) 0px 5px 15px;
}
.teachers-level-link {
  text-decoration: none;
  color: #000;
}
.teachers-level-link:hover {
  color: #000;
}

@media screen and (max-width: 600px) {
  .level-section {
    margin-top: 30px;
  }
  .techers-level-card {
    height: 10rem;
  }
  .level-card-body-custom {
    padding-top: 30px;
  }
}
/* Find Teachers Sections Design Start */
.find-techers-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.class-name-input {
  width: 300px;
}
.find-techers-show-card {
  width: 60%;
  height: 350px !important;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-decoration: none;
  color: black;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.find-techers-show-card:hover {
  transform: scale(1.1);
}
.find-techers-show-card img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .find-techers-card {
    height: 350px !important;
  }
  .teachers-search-box {
    flex-direction: column;
  }
  .class-name-input {
    width: 200px;
  }
}

/* Teachers Details Section Design Start */
.details-img img {
  width: 300px;
  height: 300px;
}
.details-description h5 {
  line-height: 2;
}
.details-desc-tile {
  font-size: 1.3rem;
  font-weight: bold;
}
.details-right-side {
  border-left: 3px solid gray;
}

/* Online test section design Start */
.class-card-custom {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.subject-container {
  margin-bottom: 100px !important;
}
.intermediate-subject-container {
  margin-bottom: 200px !important;
}
@media screen and (max-width: 767px) {
  .subject-container {
    margin-bottom: 0 !important;
  }
  .intermediate-subject-container {
    margin-bottom: 0 !important;
  }
}

/* Notes Sections Design Start */
.download-btn,
.download-btn:hover {
  text-decoration: none;
  color: white;
}
.upload-notes-form {
  margin-bottom: 100px !important;
}

@media screen and (max-width: 767px) {
  .note-vie-btn {
    margin-top: 20px;
  }
  .upload-notes-form {
    margin-bottom: 20px !important;
  }
}

/*--------------------------------------------------------------
# Teacher Message section
--------------------------------------------------------------*/
.conversation-active-section {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
}
.conversation-active h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.conversation-person {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.207);
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
}
.conversation-person img {
  width: 80px;
  height: 80px;
}
.conversation-person p {
  font-weight: bold;
  margin-left: 10px;
  font-size: 1.4rem;
}

.conversation-text {
  background-color: #ffffff;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
}
.message-send-icon {
  color: #32be8f;
}

/*--------------------------------------------------------------
# Review Section Design Start
--------------------------------------------------------------*/
.testimonial-item p {
  background-color: rgba(60, 58, 58, 0.144);
  padding: 20px 20px 6rem 20px;
  border-radius: 10px;
  text-align: justify;
  font-style: italic;
}
.testimonial-item p .right-quote {
  transform: rotate(180 deg);
}
.testimonial-item img {
  width: 100px;
  border-radius: 50%;
  margin: -60px 0 0 40px;
  position: relative;
  z-index: 2;
  border: 6px solid rgba(255, 255, 255, 0.12);
}
.testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 45px;
}
.testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 0 45px;
}
.quote {
  color: rgba(0, 0, 0, 0.708);
  font-size: 26px;
}

@media only screen and (max-width: 600px) {
  .testimonial-item {
    margin-bottom: 50px;
  }
}

/*--------------------------------------------------------------
# Footer Section Design Start
--------------------------------------------------------------*/
.footer {
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
.footer-app-img img {
  width: 150px;
}
.quick-link-item {
  line-height: 1px;
}
.quick-link-item a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.933);
}
.quick-link-item a:hover {
  color: #eb2026;
}
.footer-social-icon a {
  text-decoration: none;
  color: black;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.footer-social-icon a:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 767px) {
  .company-quck-link {
    margin-top: 25px;
  }
  .footer-contect {
    margin-top: 20px;
  }
  .app-img {
    text-align: center;
  }
  .footer-app-img {
    margin-left: 15px;
  }
}
